/* *, *:before, *::after{
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.2);
    } */

* {
    margin: 0;
    padding: 0;
    
}    

body {
    font-family: 'Fjalla One', sans-serif;
}

/* Cambiando fuente a todos los titulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 100;
    /* font-style: italic; */
}

/************** Inicio del menu ********/
.menu { /* Engloba todo el menu principal*/
    width: 100%;
    height: 10vh;
    display: flex;
    background: black;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.menu figure {
    margin-left: 10px;
}

.menu h1 {
    color: white;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    /* margin-right: 10px; */
    font-size: 1.2em;
}

.menu ul li a:hover {
    color: rgba(183, 183, 255, 0.9);
}

/************* Fin del menu **********+*/

/*************** Cabecera **********************/

.container-main {
    margin-top: 0%;
    height: 90vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(14, 14, 83, 0.2) 100%), url(images/work2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container-main-title {
    display: flex;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    padding-top: 35vh; 
    color: white;
    text-align: center;  
}

.Contact-front {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.Contact-front a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 1.2em;

}

.Contact-front a:hover {
    color: aqua;
    font-size: 1.25em;
    transition: 0.2s;
}

/*************************** Fin de la presentacion del header*******************/

.container { /*El DIV container*/
    max-width: 1240px;
    /* width: 100%; */
    flex: 1;
    padding: 3%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    align-items: inherit;
    flex-wrap: inherit;
}

/******************* Inicio del contenido Acerca de Mi ***********************/

.description { /* Engloba toda la seccion de sobre mi y skills*/
    display: block;
    flex-wrap: wrap;
    margin: 2vh;
    
}

.description-my { /* El article que engloba a presentacion*/
    border: rgb(128, 128, 128, 0.5) solid 0.5px;
    border-radius: 4px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.description-my figure {
    max-width: 30%;
    padding: 20px;
}

.description-my-photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description h1, .gallery h1 { /*Titulo Presentacion Skills, sobre mi y galeria*/
    width: 200px;
    text-align: center;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    
}

.description-details, .description-details-2{ /* Engloba el h1 y el p De la presentacion */
    max-width: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px ; 
    background-color: rgb(255, 255, 255, 0.8); 
}

.description-details h2 {
    background-color: white;
    font-size: 1.5em;
    text-align: center;
}
.description-details p{
    text-align: justify;  
    font-size: 1.2em;  
}


.cv { /* Boton de curriculum */
    font-size: 1.5em;
    padding: 1vh;
    margin: 2vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid rgb(0, 89, 255,0.1);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.199) 0%, rgba(0, 89, 255, 0.5) 100%);
}

.cv a { /* Boton de curriculum */
    text-decoration: none;
    color:rgb(0, 89, 255);
}

.skills-img { /* Imagen de skilss*/
    display: block;
    flex-wrap: wrap;
    padding: 0vh 20px;
    
}

.skills-img img{ /* Imagen de skilss*/
    border-radius: 10px;
    width: 250px;
    margin: 20px;
}


.description-details-2 {
    display: flex;
    color: black;
    border-radius: 10px;
    width: 450px;
    
}

.description-details-2 ul li { /* Mencionado Arriba, este sobrescribe */
    font-size: 1.3em;
    list-style: none;
}
/********* FIn de la presentacion sobre mi y los skills ************************+/

/************ Galeria de trabajos realizados ******************/

.gallery {
    display: block;
    background: #f2f2f2;
    padding: 10px;
}

.gallery-all {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    background-repeat: no-repeat;
    width: auto;


}

.gallery-all img{
    object-fit: cover;
    width: 30%;
    display: block; 
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgb(0,0,0, 0.5);
    cursor: pointer;

}

.gallery-all img:hover {

    
}

/* Section que engloba formulario e iconos de contacto */

.contacto {
    height: 80px;
    padding: 40px;
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Iconos de contacto Facebook, instagram, github entre otros*/

.social { /*el div social que engloba los social link */
    
}

.social-link { 
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;

    background-size: 50px 50px;
    background-color: white;
    margin: 0 5px;
}

.facebook {
    background-image: url('../iconos/bxl-facebook.svg');
}

.twitter {
    background-image: url('iconos/bxl-twitter.svg');
}

.github {
    background-image: url('iconos/bxl-github.svg');
}

.instagram {
    background-image: url('iconos/bxl-instagram.svg');
}

/*Contacto Formulario Email a la izq de iconos redes sociales*/

.contacto form {
    
}

.contacto h3 {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

.contacto input {
    border-color: gray;
    padding: 1em 2em 1em 2.5em;
    border-radius: 5px;
    border-style: solid;

    background-image: url('./iconos/bxs-message.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.contacto button {
    display: block;
    margin-top: 10px;
    background: white;
    border-color:gray;
    color: black;
    /* padding: 5px 30px; */ width: 100px;
    padding: 5px;
    border-radius: 5px;
    /* margin: 10px auto 0; */
    font-weight: 600;
}

/****************************************************************/
/********** Menu Hamburguesa *******/
.hamburguer-button {
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background-color: rgba(145, 145, 145, 0.9);
    margin: 10px;
    padding: 5px;
    z-index: 1;
    position: fixed;
    display: none; /*Menu hamburguesa desactivado*/
}

.hamburguer-button:hover {
    cursor: pointer;
}

/*******************+ MEDIA QUERIES************/
@media screen and (max-width:1024px) {
}

@media screen and (max-width:767px){
    .menu {
        display: block;
        height: auto;
    }

    .menu ul {
        display: initial;
        flex-wrap: wrap;
    }

    .menu ul li {
        height: 50px;
    }

    .menu ul li a {
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }

    .menu-items { /* Menu hamburguesa*/
        left: -100vw;
        position: fixed;
        background:rgb(0, 0, 0, 0.9);
        top: 0;
        width: 100vw;
        bottom: 0; /*Estira a toda la pantalla*/
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .menu-items.is-active { /*Cuando estas dos clases esten activas se ejecutara y aparecera el menu hamburguesa*/
        left: 0;
    }


    .container-main {
        height: 90vh;
    }

    .icon-menu, .hamburguer-button {
        display: block;
    }
}

    









@media screen and (max-width:480px){}
@media screen and (max-width:480px){}